.uk-navbar-container{
    .uk-navbar-center, .uk-navbar-right{
        display: none;
    }
    .uk-navbar-left{
        width:100%;
        .uk-logo{
            color: #fff;
            font-weight: inherit;
            font: 36px/47px 'Intel One Display Regular';
            letter-spacing: 1px;
            height: 103px;
            b{
                color: #fff;
            }
            
        }
        .uk-navbar-nav{
            margin-left: auto;
            li{
                a{
                    color: #fff;
                    height: 103px;
                    font: 18px/22px 'Intel One Display Regular';
                    letter-spacing: 0.7px;
                    font-weight: bold;
                    &:hover{
                        color: #00c7fd;
                    }
                }
                &.uk-active{
                    a{
                        color:  #00c7fd;
                    }
                }
                
            }
        }
        .searchdiv {
            margin: 34px 0 0 10px;
            max-width: 230px;
            
        }
        .searchicon {
            border-radius: 55px;
            border: 1px solid #f9f9f9!important;
            background-color: transparent!important;                   
            color: #fff;   
            padding:8px 10px 8px 40px;  
            background-image: url("https://d29tbxcbtlbljy.cloudfront.net/smartedge/images/icon_search.svg");  
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: 14px center;
            &::placeholder{
                color: #fff;
                font: 16px 'Intel One Display Regular';  
                font-weight: bold;              
                
            }
            &:focus{
                font-weight: bold;
                color: #00c7fd;
               
            }
    }
   
  
    }
}
#breadcrumbs{
    margin-bottom: 20px;
    letter-spacing: 0;
    padding-right: 140px;
    a{
        color: #00c7fd;
        font-weight: 600;
        letter-spacing: 0;
        &:hover{
            text-decoration: none;
        }
    }
    & + .highlighter-rouge{
        display: none;
    }
    & ~ h2[id], & ~ h3[id], & ~ h4[id]{
        text-decoration: underline;
        text-underline-offset: 7px;
    }
    & ~ h1[id], & ~ h2[id], & ~ h3[id], & ~ h4[id]{
        &:before{
            content: "";
            display: block;
            height: 105px;
            margin-top: -105px;
            position: relative;
            z-index: -1;
        }
    }
}
@media (max-width:959px){
    .uk-navbar-container{
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
        z-index: 2;
        background-color: #fff;
        .uk-navbar-toggle{
            // color: $blue;
            color: #fff;
        }
     
    }
    body{
        padding-top: 80px;
    }
    //.uk-navbar-toggle[aria-expanded="true"] + .uk-navbar-nav{
    .uk-navbar-nav{
        display: block !important;
        margin-left: 0;
        z-index: 1001;
        position: fixed;
        top: 81px;
        width: 100%;
        height: calc(100vh - 81px);
        background: #0068b5;
        padding-top: 20px;
        transition: 0.3s;
        left: -100%;
        li{
            a{
                text-align: left;
                display: block;
                height: auto!important;
                padding: 15px 40px;
            }
        }
    }
    .uk-navbar-toggle.showMenu + .uk-navbar-nav{
        left:0;
    }
    .uk-navbar-container{
        .uk-navbar-left{
            .uk-navbar-toggle{
                a{
                    // color: $blue;
                    color: #fff;
                    font-size: 18px;
                    margin-left: 10px;
                }
                &.toggleMenu{
                    .crossIcon{
                        display: none;
                    }
                    &.showMenu{
                        .mainIcon{
                            display: none;
                        }
                        .crossIcon{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:639px){
    .uk-navbar-nav li a{
        padding: 15px 30px!important;
    }
    .uk-navbar-nav li a{
        padding: 15px;
    }
}