.uk-navbar-container:not(.uk-navbar-transparent){
background-color: $bgcolor;
}
.topHeadBox{
    p, ul li a{
        font-size: 16px;
        line-height: 1.4;
    }
 
}
.uk-section{
    &.topHeadBox{
        padding-bottom: 50px;
        padding-top: 50px;
    }
}
.topHeadBox {
    padding-bottom: 60px;
    background-color: $bgcolor;

        small {
            line-height: 24px;
        }
        .uk-card-mx {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;

            .uk-card-header{
                background-color: #f8f8f8;
                padding: 20px;

                    .uk-card-title {                        
                   
                        span{
                            color: #818181;
                            font-size: 24px;
                            font-style: italic;
                            display: block;
                        }
                    }
            }

            .uk-padding {
                padding: 20px;
            }
            
            }

            .uk-card-footer{
                margin-top: auto;
                background-color: #f8f8f8;
            }
        }
.mx-section-footer{
    background-color:#f8f8f8;    
    small, small a{
        line-height: 24px;
        padding: 10px;
        font-size: 12px;
       
    }
    
    .lead, h2{
        color: #fff;
    }
    a{color: #0068b5;     display: contents;}
    
}
.uk-section-footer{
    background-color:#0068b5;      

    .lead, h2{
        color: #fff;
        }
    a{
        color: #0068b5; background-color: #f9f9f9;}
    
}
.boxHeadExplore{
    margin-bottom: 60px;
}